.featuredContainer {
  flex: 1;
}
.featured-top {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;

  box-shadow: 0px 1px 5px 9px rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: 0px 1px 5px 9px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 1px 5px 9px rgba(0, 0, 0, 0.01);
}
.featuredBottom {
  display: flex;
  flex-direction: column;
}
.featuredChart {
  padding: 2em;
}
.featuredParagaphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  margin-top: 1em;
}
.amount {
  font-size: 2rem;
}
.desc {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 1.2em;
}
.chart {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: rgb(152, 149, 149);
}
.target {
  font-weight: bold;
  color: rgb(55, 54, 54);
}
.targetContainer {
  width: 100%;
  display: flex;
  gap: 2em;
  margin: 0 auto;
  justify-content: center;
}
.targetItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.targetItem span {
  font-size: 1rem;
}
.up {
  color: green;
}

.down {
  color: red;
}
